  /* Main container for content */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Mission section */
  .mission {
    text-align: center;
    padding: 20px 0;
    /* background-image: url('/src/Images/Webimage.jpg'); */
    background-size: cover;
    background-position: center;
    color: white;
    background-color: black;
  }
  
  .mission h1 {
    font-size: 3rem;
  }
  
  .mission p {
    font-size: 1.2rem;
  }
  
  /* Content layout */
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  @media(min-width: 768px) {
    .content {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  /* Video container */
  .video-container {
    position: relative;
    width: 100%;
    max-width: 560px;
    margin-bottom: 20px;
    border-radius: 20px;
  }
  
  .video-container iframe {
    width: 100%;
    height: 315px;
    border-radius: 20px;
  }
  
  .video-caption {
    margin-top: 0px;
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
  }
  
  /* Text content container */
  .text-container {
    max-width: 600px;
    padding: 0 20px;
  }
  
  .text-container h2 {
    font-size: 2rem;
    color: #2e7d32;
  }
  
  .text-container p {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  